In [1]:
import pandas as pd 
import numpy as np

# DT 문제 1번

#### ※함수에 들어가 있는 변수나 flow는 본인이 바꾸셔도 가능하며 결과만 똑같이 나오면 됩니다!
#### ※hard코딩(이 데이터셋에만 적용되는 코딩방법) 말고 전체 데이터에 적용 가능하게 함수를 짜주셔야 합니다.

# Data Loading

In [2]:
pd_data = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
pd_data.drop("RID",axis=1, inplace = True) #RID는 그냥 순서라서 삭제
pd_data

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

# 1. Gini 계수에 대한 함수 만들기.

- Input은 Dataframe과 label이름으로 만들어주세요!
- 해당 결과는 아래와 같이 나와야 합니다!

In [99]:
def get_gini(df,label):
    pair = df[label].value_counts()
    feature_value = pair.values
    print(feature_value)
    under = feature_value.sum()
    print(under)
    gini = 1
    for i in feature_value:
        gini -=(i/under)*(i/under) 
    return gini

In [100]:
get_gini(pd_data,'age')

[5 5 4]
14

0.663265306122449

# 3.

In [313]:
def get_attribute_gini_index(df, feature, label):
    # label에 대한 정보 - YES or NO
    label_class = df[label].value_counts()
    label_class = label_class.index
    
    # feature에 대한 정보 - youth,middle,old
    feature_class = df[feature].value_counts()
    feature_class_vlaues = feature_class.values
    [5,5,4]
    feature_classes = feature_class.index
    ['A','B','C']
    
    under = feature_class_vlaues.sum()
    # 새끼지니계수
    gini=[]
    for idx, cls in enumerate(feature_classes):
        
        sub_gini=get_gini(df[df[feature]==cls],label)
        a += sub_gini*feature_class_values[idx]
        
    A=pd_data[pd_data['age']!='youth']
    B=pd_data[pd_data['class_buys_computer']=='yes']
    
    
    gini_index = []
    under = feature_class_values.sum()
    for i in range(len(feature_class)):
        (feature_class_values[0]/under)*(1-)    
    
    result = {}
    return result

In [315]:
get_attribute_gini_index(pd_data, "age", "class_buys_computer")

{'youth': 0.3936507936507937,
 'middle_aged': 0.35714285714285715,
 'senior': 0.45714285714285713,
 'middle_aged_youth': 0.45714285714285713,
 'senior_youth': 0.35714285714285715,
 'senior_middle_aged': 0.3936507936507937}

- 여기서 가장 작은값으로 분류를 해야겠죠?

In [318]:
min(get_attribute_gini_index(pd_data, "age", "class_buys_computer").items())

('middle_aged', 0.35714285714285715)

# 다음의 문제를 위에서 작성한 함수를 통해 구한 값으로 보여주세요!
## 문제1) income의 이진분류를 얻는 함수 get_binary_split(pd_data, "income")을 통해 보여주세요.

## 문제2) 가장 Gini계수가 높은 Feature 즉 분류를 하는데 가장 중요한 변수를 선정하시고 get_attribute_gini_index함수를 통해 Gini index를 제시해주세요.

## 문제3) 2에서 구한 Feature로 DataFrame을 분류 해주시고 나눠진 2개의 클래스에서 각각 다음으로 중요한 Feature를 선정해주시고 Gini index를 제시해주세요.