- student.txt 파일의 한 줄에는 학생 한 명의 이름, 반, 학생번호가 저장되어 있다. 

- Student class와 Ban class을 구현하고 파일을 한 줄씩 읽어들이면서 Student instance와 Ban instance를 생성한 뒤 

- 반별, 번호순으로 오름차순 정렬된 ‘이중 리스트‘ 형태의 자료 구조를 완성하고 완성한 자료구조에서 결과를 출력하는 프로그램을 작성한다. 

- class는 각 각의 python file에서 따로 작성하고 다른 python file에서 이들을 import해서 최종결과를 확인한다. 

- class 작성시 __str__, __lt__, __eq__에 대해 알아보고 pass부분을 완성하여 결과를 도출한다

In [22]:
import pandas as pd

#dataset=pd.read_csv("student.txt",delimiter=" ")
#dataset=pd.read_csv("student.txt",delimiter=" ",header=None)
dataset=pd.read_csv("student.txt",delimiter=" ",names=['name','class','no'])
dataset.head()

  name  class  no
0  홍길동      4   1
1  김정은      5   3
2  박영희      3   4
3  이정수      4   3
4  박미영      2   3

In [49]:
dataset.iloc[:,0]

0     홍길동
1     김정은
2     박영희
3     이정수
4     박미영
5     장영철
6     임정훈
7     조형식
8     조윤희
9     이윤경
10    김종현
11    박현희
12    정은호
13    박윤경
14    강선우
15    오세형
16    박현우
17    정재영
18    주영은
19    이은지
20    이미영
21    김영준
22    박세진
23    정준우
24    백경준
25    김준영
26    김영은
27    조영민
28    장영진
29    정소영
30    이미경
31    박영빈
32    이정훈
33    조희수
34    이지연
Name: name, dtype: object

In [51]:
import pandas as pd 

class Student:
    ''' no = 학생번호
        name = 학생이름 '''
    no = None
    name= None
    
    def __init__(self, no=None, name=None):
        if no is not None:
            self.no = no
        if name is not None:    
            self.name = name
    
    def SortByNo(self, data=None):
        if data is None:
            print('Input is Nothing!')
        
        self.no = data.iloc[:,2]
        self.name = data.iloc[:,0]
        
     
    
        
        
    def __str__(self):
        return '번호: {}, 이름: {}'.format(self.no,self.name)
    
    def __lt__(self, other):
        return len(self) < len(other)

In [52]:
first = Student(dataset.iloc[:,2],dataset.iloc[:,0])
first.name

0     홍길동
1     김정은
2     박영희
3     이정수
4     박미영
5     장영철
6     임정훈
7     조형식
8     조윤희
9     이윤경
10    김종현
11    박현희
12    정은호
13    박윤경
14    강선우
15    오세형
16    박현우
17    정재영
18    주영은
19    이은지
20    이미영
21    김영준
22    박세진
23    정준우
24    백경준
25    김준영
26    김영은
27    조영민
28    장영진
29    정소영
30    이미경
31    박영빈
32    이정훈
33    조희수
34    이지연
Name: name, dtype: object

In [26]:

    def fit(self,X_train=None):
        if X_train is None:
            print('Input is nothing!')
            return
        if self.k is None:
            self.k = X_train.shape[1]
            
        #############################################
        # TO DO                                     #
        # 인풋 데이터의 공분산행렬을 이용해                 #
        # components와 explain_values 완성           # 
        #############################################
        cov_mat = np.cov(X_train.T)
        eigen_values = lin.eig(cov_mat)[0]
        eigen_vectors = lin.eig(cov_mat)[1].T
        
        self.explain_values  = eigen_values[:self.k]  # k,
        self.components = eigen_vectors[:self.k,:]    # k,n
        
        
        #############################################
        # END CODE                                  #
        #############################################
        
        return self.explain_values, self.components
    
    def transform(self,X=None):
        if X is None:
            print('Input is nothing!')
            return
        
        result = None
        '''
        N : X의 행 수
        result의 shape : (N, k)
        '''
        #############################################
        # TO DO                                     #
        # components를 이용해 변환결과인                 #
        # result 계산                               #
        #############################################
        result = self.components.dot(X.T).T
     
        
        #############################################
        # END CODE                                  #
        #############################################       
        return result
    
    def fit_transform(self,X=None):
        if X is None:
            print('Input is nothing!')
            return
        self.fit(X)
        return self.transform(X)

번호: None, 이름: None

In [24]:
def hit_cheek(self, num_of_hitting, name):
        Ing_Ba = self.Ing_Ba
        Gyu_Ba = self.Gyu_Ba
        
        if name == 'Ing':
            print("{} 대만 맞자, 알겠지?.. 아 아니다 {}대 맞자".
                 format(num_of_hitting,num_of_hitting*Ing_Ba))
            
        if name == 'Gyu':
            print("{} 대만 맞자, 알겠지?.. 아 아니다 {}대 맞자".
                 format(num_of_hitting,num_of_hitting*Gyu_Ba))