- student.txt 파일의 한 줄에는 학생 한 명의 이름, 반, 학생번호가 저장되어 있다. 

- Student class와 Ban class을 구현하고 파일을 한 줄씩 읽어들이면서 Student instance와 Ban instance를 생성한 뒤 

- 반별, 번호순으로 오름차순 정렬된 ‘이중 리스트‘ 형태의 자료 구조를 완성하고 완성한 자료구조에서 결과를 출력하는 프로그램을 작성한다. 

- class는 각 각의 python file에서 따로 작성하고 다른 python file에서 이들을 import해서 최종결과를 확인한다. 

- class 작성시 __str__, __lt__, __eq__에 대해 알아보고 pass부분을 완성하여 결과를 도출한다

In [1]:
import pandas as pd
dataset=pd.read_csv("student.txt",delimiter=" ",names=['name','class','no'])
dataset.head()

  name  class  no
0  홍길동      4   1
1  김정은      5   3
2  박영희      3   4
3  이정수      4   3
4  박미영      2   3

In [2]:
from Ban import Ban
from student import Student

In [15]:
Ban_list=[]

with open("student.txt", "r") as ins:
    for line in ins:
        line = line.split()
        name = line[0]  # 이름
        #print(name)
        
        c_no = line[1]   # 반
        #print(c_no)
        
        s_no = line[2]    # 번호
        #print(s_no)
        
        class_no = Ban(c_no) # Ban 객체
        #print(class_no)
        
        student_no = Student(s_no,name) # Student 객체
    
        # 이걸로 1~5반이 담긴 Ban_list 생성
        if class_no not in Ban_list:
            Ban_list.append(class_no)
            #print(Ban_list[0].no)
        
        # 반리스트를 돌면서
        for ban in Ban_list:
            # 지금 input의 반과  반리스트 안의 원소인 ban객체의 no과 같다면
            if c_no == ban.no:
                
                # 반리스트 안의 원소인 ban객체의 student_list에
                # 지금 input으로 만든 student 객체를 넣어라
                ban.student_list.append(student_no)

In [16]:
Ban_list.sort()

for i ,v in enumerate(Ban_list):
    print('---')
    print(v)
    v.student_list
    #print(i,v)
    #print(v.student_list)

    print('---')
    for j, v in enumerate(v.student_list):

        print(j,v)

---
<4반>  3명
---
0 1번  홍길동
1 3번  이정수
2 2번  백경준
---
<5반>  7명
---
0 3번  김정은
1 4번  장영철
2 7번  조윤희
3 1번  박윤경
4 2번  이은지
5 5번  김영준
6 6번  장영진
---
<3반>  7명
---
0 4번  박영희
1 1번  박현희
2 2번  정은호
3 7번  정재영
4 6번  주영은
5 3번  이미경
6 5번  조희수
---
<2반>  9명
---
0 3번  박미영
1 9번  조형식
2 6번  김종현
3 1번  박현우
4 2번  정준우
5 7번  김준영
6 5번  조영민
7 8번  박영빈
8 4번  이지연
---
<1반>  9명
---
0 4번  임정훈
1 3번  이윤경
2 9번  강선우
3 5번  오세형
4 7번  이미영
5 1번  박세진
6 8번  김영은
7 6번  정소영
8 2번  이정훈

In [19]:
Ban_list.sort()
for i in Ban_list:
    print(i)

<1반>  9명
<2반>  9명
<3반>  7명
<4반>  3명
<5반>  7명

In [5]:
for i in Ban_list:
    print(i)
    for j in i.student_list:
        print(j)

<1반>  9명
4번  임정훈
3번  이윤경
9번  강선우
5번  오세형
7번  이미영
1번  박세진
8번  김영은
6번  정소영
2번  이정훈
<2반>  9명
3번  박미영
9번  조형식
6번  김종현
1번  박현우
2번  정준우
7번  김준영
5번  조영민
8번  박영빈
4번  이지연
<3반>  7명
4번  박영희
1번  박현희
2번  정은호
7번  정재영
6번  주영은
3번  이미경
5번  조희수
<4반>  3명
1번  홍길동
3번  이정수
2번  백경준
<5반>  7명
3번  김정은
4번  장영철
7번  조윤희
1번  박윤경
2번  이은지
5번  김영준
6번  장영진